body {
    background-color: #00a2a2;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    padding: 10px;
    text-align: center;
}

.container {
    background-color: #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.title-container {
    width: 100%;
    text-align: center;
}

.input-container {
    flex: 1;
}

.select-container {
    flex: 1;
}

button {
    flex: 0;
    margin-left: 10px;
}

#resultBox {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

button {
    background-color: #007777;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #005555;
}

.additional-text-container {
    background-color: #005555;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: justify;
    width: 100%;
    font-size: 14px;
}

